* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
    padding: 11px 41px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
/*============= Header ============= */
.header {
    background: #FFFCF4;
    padding-top: 36px;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.header .logo {
    width: 85px;
    height: 100%    ;
    font-size: 2.4rem;
    color: #171100;
}
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}
.header .nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5F5B53;
}
.header .btn {
    margin-left: 70px;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #FFFFFF;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    bottom: -6px;
    left: 1px;
    background: #171100;
    border-radius: 1px;
}
/*============= Hero ============= */
.hero-wrap {
    padding: 56px 0 64px;
    background: #FFFCF4;
}
.hero {
    display: flex;
    justify-content: space-between;
}
.hero .media {
    position: relative;
    width: 48%;
}
.hero .image img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;   
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item + .item {
    margin-top: 18px;
}
.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 50%;
}
.hero-summary .icon-ux {
    background: #FFF9E8;
}
.hero-summary .icon-development {
    background: #FCEFFF;
}
.hero-summary .icon-marketing {
    background: #EBEAFF;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5F5B53;
}
.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .info {
    max-width: 470px;
    padding: 64px 0;
}
.hero .info .sub-title {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #171100;
}
.hero .info .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.hero .action {
    margin-top: 38px;
}
.hero .action .btn-see-courses {
    background: #FFB900;
    padding: 22px 33px;
    border-radius: 33px;
}
.hero .action .link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .action .link-btn {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    padding: 14px 17px;
    margin: 0 14px 0 28px;
    border-radius: 50%;
}
.hero .stats {
    margin-top: 48px;
}
.hero .stats .desc {
    font-size: 1.8rem;
    color: #5F5B53;
}
.hero .stats .qty-info{
    display: flex;
    margin-top: 8px;
}
.hero .stats .qty {
    display: flex;
    align-items: flex-end;
    margin-right: 28px;
}
.hero .stats .qty strong {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    color: #171100;
}
.hero .stats .qty-desc {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #5F5B53;
    margin-left: 12px;
}

/*============= Courses ============= */
.courses-wrap {
    margin: 200px 0;
}
.courses-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-heading .sub-title {
    font-family: 'Sen', sans-serif;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}
.courses-heading .desc {
    max-width: 458px;
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.courses-heading .btn-courses {
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid #FFB900;
    border-radius: 50%;
    background: transparent;
    color: #FFB900;
    cursor: pointer;
}
.courses-heading .btn-courses:hover {
    background: #FFB900;
    color: #FFFFFF;
}
.courses-heading .btn-courses.btn-left {
    margin-left: auto;
    margin-right: 18px;
}
.courses-body {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.courses-body .card {
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}
.courses-body .card:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}
.courses-body .card .image img{
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.courses-body .card .info {
    margin: 16px 22px 22px;
}
.courses-body .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-body .sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}
.courses-body .sub-title a {
    color: #171100;

}
.courses-body .rate {
    padding-left: 48px;
}
.courses-body .rate span {
    color: #FFB900;
}
.courses-body .desc {
    margin-top: 8px;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5F5B53;
}
.courses-body .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.courses-body .bottom .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.courses-body .courses-book-now {
    font-size: 1.4rem;  
    padding: 18px 24px;
}
.courses-body .courses-book-now:hover {
    background: #FFB900;
    color: #FFFFFF;
}

/*============= Feedback ============= */
.feedback {
    background: #2E2100;
    padding: 96px 0;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}
.feedback .avt {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .name {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.4;
    color: #F7F7F7;
    margin-top: 18px;
}
.feedback .career {
    font-size: 1.4rem;
    line-height: 1.85;
    color: #BFBCB3;
    margin-top: 4px;
}
.feedback .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}
.feedback .dots .dot {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}
.feedback .dots .dot:hover {
    background: #FFB900;
    cursor: pointer;
}
.feedback .dot.active {
    background: #FFB900;
}
.feedback .review {
    position: relative;
    margin-left: auto;
    width: 63.77%;
}
.review img {
    position: absolute;
    top: -28px;
    left: -30px;
}
.feedback .text {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;

    color: #FFFFFF;
}

/*============= Features ============= */

.features {
    margin: 200px 0;
}
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature + .feature{
    margin-top: 200px;
}
.feature .media-block {
    display: flex;
    justify-content: space-between;
}
.feature .img {
    border-radius: 16px;
    object-fit: cover;
}
.feature-1 .img {
    width: 270px;
    height: 405px;
}
.feature .media-block .img:first-child {
    margin: 34px 20px 0 0;
}
.feature-1 .content-block {
    width: 41%;
}
.feature .content-block .sub-title {
    font-family: 'Sen', sans-serif;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}
.feature .content-block .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}
.feature .content-block .desc span {
    margin-top: 16px;
    display: block;
}
.feature .content-block .btn-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    background: #FFB900;
    height: 50px;
    padding: 0 20px;
    width: 137px;
}
.feature-2 {
    flex-direction: row-reverse;
}
.feature-2 .img {
    width: 470px;
    height: 440px;
    
}
.feature-2 .content-block {
    width: 48.8%;
}



